* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --side_bar: #000000;
    --nav_upgrade: #080B12;
    --song_background: #141922;
    --footer: #282828;
    --underline: #ADFF2F;
}

.flex {
    display: flex;
}

.column {
    flex-direction: column;
}

/* #region col_ */

.col_1 {
    width: calc((100% / 12) * 1);
}

.col_2 {
    width: calc((100% / 12) * 2);
}

.col_3 {
    width: calc((100% / 12) * 3);
}

.col_4 {
    width: calc((100% / 12) * 4);
}

.col_5 {
    width: calc((100% / 12) * 5);
}

.col_6 {
    width: calc((100% / 12) * 6);
}

.col_7 {
    width: calc((100% / 12) * 7);
}

.col_8 {
    width: calc((100% / 12) * 8);
}

.col_9 {
    width: calc((100% / 12) * 9);
}

.col_10 {
    width: calc((100% / 12) * 10);
}

.col_11 {
    width: calc((100% / 12) * 11);
}

.col_12 {
    width: calc((100% / 12) * 12);
}

/* #endregion col_ */

.wrapper {
    height: 100vh;
    font-family: 'Montserrat', sans-serif;
}

.top {
    height: calc(100vh - 80px);
    background-color: var(--song_background);
    display: flex;
}

/* #region sidebar */

.sidebar {
    width: 240px;
    background-color: var(--side_bar);
    height: 100%;
    justify-content: space-between;
}

/* .sidebar span,
.sidebar li {
    font-size: 0.9rem;
} */

.logo {
    margin-bottom: 1.2rem;
}

.logo .medium {
    width: 130px;
}

.small {
    width: 40px;
    text-align: center;
    display: none;
    align-self: center;
}


.top_sidebar,
.bottom_sidebar {
    color: white;
    padding: 0.3rem 1rem;
}

.home {
    padding: 0.1rem 0rem;
}

.home img {
    width: 30px;
}

.home span {
    align-self: center;
    padding: 0rem 0.5rem;
}

.play {
    padding-top: 1rem;
    padding-bottom: 0.5rem;
}

.plus {
    padding: 0.3rem 0.5rem;
    aspect-ratio: 1 / 1;
    display: inline-block;
    background-color: #a3a3a3;
}

.fa-plus {
    color: black;
    font-size: 30px;
}

.playlist_button span {
    align-self: center;
    padding-left: 0.5rem;
}

.name_playlists {
    padding-top: 0.5rem;
    list-style-type: none;
}

.name_playlists li {
    padding: 0.5rem 0rem;
}


.install {
    font-size: 15px;
    border-bottom: 1px solid white;
    padding-bottom: 0.5rem;
}

.fa-circle-down {
    padding-right: 0.3rem;
}

.user {
    padding-top: 0.5rem;
}

.user img {
    width: 25px;
    background-color: gray;
    border-radius: 50%;
}

.user span {
    align-self: center;
    padding-left: 0.5rem;
}

/* #endregion sidebar */


.content {
    width: 100%;
    height: 100%;
}

.upgrade {
    display: flex;
    height: 80px;
    background-color: var(--nav_upgrade);
    justify-content: end;
}

.upgrade a {
    align-self: center;
    text-decoration: none;
    color: white;
    border: 2px solid white;
    padding: 0.5rem 2rem;
    border-radius: 2rem;
}


.music {
    overflow-y: auto;
    height: calc(100% - 80px);
}

.music_container {
    padding: 1rem;
}

.titles {
    flex-wrap: wrap;
    padding-top: 0.5rem;
    justify-content: center;
}

.titles a,
.titles .col_2 {
    display: inline-block;
}

.titles a {
    text-decoration: none;
    color: #a3a3a3;
    font-size: 0.8rem;
    font-weight: bold;
    margin-bottom: 1rem;
    padding: 1rem;

}

h2 {
    padding: 0.5rem;
    color: white;
    padding-bottom: 1rem;
}



.row {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 1rem;
}

.col_2 {
    width: calc((100% / 12) * 2);
    padding: 0.5rem;
}

.album {
    text-align: center;
}

.album img {
    max-width: 100%;
}

.album h3 {
    margin-top: 0.3rem;
    padding: 0.5rem;
    color: white;
}

.longh3 {
    font-size: 0.9rem;
}

.sub,
.subh2 {
    font-weight: bold;
    font-size: 0.8rem;
    color: #a3a3a3;
}

.subh2 {
    padding-left: 0.5rem;
    padding-bottom: 1rem;
}

.populars img {
    border-radius: 50%;
}

/* #region player */
.player {
    padding: 1rem;
    justify-content: space-between;
    height: 80px;
    background-color: var(--footer);
}

.current_song{
    width: 50px;
}

.current_name{
    align-self: center;
    padding: 0.8rem;
    color: white;
}

.current_name h5{
    font-size: 1.1rem;
}

.current_name div{
    font-weight: bold;
    color: #a3a3a3;
    font-size: 0.8rem;
}

.album_details span{
    align-self: center;
    margin-left: 1rem;
}

.fa-heart,
.fa-folder{
    color: #a3a3a3;
    font-size: 1.2rem;
}



.player_buttons{
    justify-content: center;
    gap: 2rem;
    font-size: 1.2rem;
    color: white;
}

.player_buttons i{
    align-self: center;
}

.fa-circle-play{
    font-size: 2rem;
    padding: 0rem 0.5rem;
}

.player_bar{
    justify-content: center;
}

.player_bar div{
    align-self: center;
}

.left_time,
.right_time{
    padding: 0.5rem 1.3rem;
    font-weight: bold;
    color: white;
}

.bar{
    width: 450px;
    height: 5px;
    background-color: #5A5A5A;
    border-radius: 5rem;
}

.withe_bar{
    width: 100px;
    height: 5px;
    background-color: #C1C1C1;
    border-radius: 5rem;
}

/* #endregion player */



@media screen and (max-width: 1440px) {}

@media screen and (max-width: 878px) {
    .col_2 {
        width: calc((100% / 12) * 3);
    }
}

@media screen and (max-width: 639px) {
    .col_2 {
        width: calc((100% / 12) * 6);
    }
}

@media screen and (max-width: 552px) {
    .sidebar {
        width: 60px;
    }

    .home span {
        display: none;
    }

    .medium {
        display: none;
    }

    .small {
        display: block;
    }

    .playlist_button,
    .name_playlists,
    .play,
    .install span,
    .user span {
        display: none;
    }

    .install i {
        padding-right: 0;
    }

    .install,
    .user {
        border: none;
        display: flex;
        justify-content: center;
    }

}